:root {
    --primary: #b8d8c3;
    --secondary: #9caea9;
    --tertiary: #788585;
    --light-dark: darkgreen;
    --dark: navy;
    --border-radius: .3rem;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--primary);
    margin: 5;
    padding: 0;
    font-family: "IBM Plex Sans", sans-serif;
    color: var(--dark);
    line-height: 1.5;
    font-size: 16px;
  }
  
  h1,
  h4,
  h5,
  h6 {
    font-weight: 700;
    margin: 0;
    color: var(--dark);
    line-height: 1.25;
  }

  h2 {
    text-align: center;
    font-weight: 700;
    margin: 0;
    color: var(--dark);
    line-height: 1.25;
  }
  
  h3 {
    font-size: small;

  }
  
  main {
    margin: 20px auto;
  }

  p {
    font-size: 1.2rem;
    text-align: center;
    align-items: center;
  }
 
   .btn {
    font-size: 1.3rem;
    text-decoration:none;
    padding: 6px 5px;
    min-width: 12rem;
    position: relative;
    margin: 5px 0;
    border-radius: var(--border-radius);
    color: var(--primary);
    border: none;
    outline: none;
    background-color: var(--light-dark);
    box-shadow: 3px 3px var(--dark);
    transform: translate(-1px, -1px);
  }
  
   .btn:hover {
    color: var(--primary);
    background-color: var(--tertiary);
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--dark);
  }
  
  .btn-inline {
    display: inline;
  }
  
  .btn-back {
    border-radius: var(--border-radius);
    color: var(--primary);
    border: none;
    outline: none;
    background-color: var(--light-dark);
    box-shadow: 3px 3px var(--secondary);
    transform: translate(-1px, -1px);
    display: inline-block;
    width: auto;
    margin-top: 20px;
    padding: 15px;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
   .btn-back:hover {
    color: var(--primary);
    background-color: var(--tertiary);
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--dark);
  }
  
  .hero {
    padding: 3% 3%;
    align-items: center;
    background-color: var(--dark);
    color: var(--primary);
  }
  
  .hero p {
    max-width: 75%;
    text-align: center;
  }
  
  .app-title {
    font-size: 3rem;
    background-color: var(--primary);
    color: var(--dark);
    display:block;
    text-align: center;
    border-radius: var(--border-radius);
    box-shadow: 6px 5px var(--light-dark);
  }
  
  ul {
   list-style-type: none;
   align-items: left;
  }

  li {
    font-size: 14px;
  }
  

  
  /* CARDS */
  .search-card {
    max-width: 15rem;
    padding: 5px;
    margin: 0 0 20px 0;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
  }
  .search-card-header {
    min-width: 10rem;
    color: var(--primary);
    background-color: var(--dark);
    padding: 2.5%; */
    /* border-radius: calc(.18rem - 1px) calc(.18rem - 1px) 0 0; */
  }
/* current weather */
  .card {
    display:flex;
    position: absolute;
    top: 15rem;
    left: 18rem;
    right: 2rem;
    height: 20rem;
    padding: 5px;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
  
  }
  
  .card-header {
    color: var(--primary);
    background-color: var(--dark);
    padding: 2.5%;
    border-radius: calc(.18rem - 1px) calc(.18rem - 1px) 0 0;
  }
  
  
  /* FORM */
  .form-label,
  .form-input,
  .form-textarea {
    display: flex;
    position: relative;
    max-width: 12rem;
  }
  
  .form-label {
    font-size: 1.1rem;
    margin: 0 0 0 5px;
  }
  
  .form-input {
    max-width: 12rem;
    padding: 3%;
    margin: 5px 0;
    font-size: 1.2rem;
    border: 2px solid var(--light-dark);
    border-radius: var(--border-radius);
  }
  
  .future-forecast {
    display: flex;
  }

  /* HEIGHT / WIDTH UTILS */
  .min-100-vh {
    min-height: 100vh;
  }
  
  .min-100-vw {
    min-width: 100vw;
  }
  
  /* FONT UTILS */
  .text-uppercase {
    text-transform: uppercase;
  }
#futureContainer {
  display:flex;
}

  .weatherContainer {
    background-color: lightseagreen;
    padding: 3px;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
  }
